.wrapper {
  display: inline-block;
  max-width: 720px;
}

.main {
  text-align: center;
  direction: rtl;
}

.controlsbox {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  direction: ltr;
  margin: 4px;
}

.diagramsbox {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  direction: ltr;
  margin: 4px;
}

.info {
  display: inline-block;
  width: 350px;
  direction: ltr;
  text-align: left;
  word-wrap: break-word;
}