.wrapper {
  /*overflow-y: scroll;*/
  border: 1px solid white;
  display: inline-block;
  position: relative;
}
.table {
  display: inline-block;
}
.scrollbarTrack {
  float: right;
  position: relative;
  width: 3px;
  right: 0;
  height: 100%;
  margin-right: 2px;
}
.scrollbarTrack:hover {
  background-color: rgba(255,255,255,0.1)
}
.scrollbarUp {
  position: relative;
  top: 0;
  width: 3px;
}
.scrollbarThumb {
  position: relative;
  left: 0;
  width: 3px;
  background-color: rgba(255,255,255,0.3)
}
.scrollbarThumb:hover {
  background-color: rgba(255,255,255,0.6)
}
.row {
  height: 12px;
	font-size: 10px;
}
.row span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}