/*
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon {
  border: solid 1px gray;
}
.icon:hover {
  background-color: gray;
}
*/

.gridBox {
  border: 1px solid white;
  display: inline-block;
  position: relative;
  user-select: none;
}
.context, .detail {
  height: 12px;
  overflow: clip;
}
.context {
  border-bottom: solid 1px gray;
}
.contextTickLabels, .detailTickLabels {
  position: relative;
  display: inline-block;
  font-size: 10px;
  border-left: solid 1px gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contextTickLabels:hover, .detailTickLabels:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.contextTickLabels:first-child, .detailTickLabels:first-child {
  border-left: none;
}
.svgBox {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  left: 0;
  top: 24px;
}