.wrapper {
  display: inline-block;
  direction: ltr;
}

.diagramsColumn {
  display: inline-block;
}
.tableColumn {
  display: inline-block;
  vertical-align: top;
}
th {
  font-weight: normal;
}
.timeColumn {
  width: 50px;
}
.temperatureColumn {
  width: 50px;
}
.humidityColumn {
  width: 50px;
}